*{
    padding: 0;
    margin: 0;
}

.grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

pre {
    font-size: 50px;
    line-height: 35px;
}

body {
    text-align: center;
}
